<div class="bg-cyan-950">
  <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1"></div>
        <div class="flex lg:hidden">
          <button
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            style="margin-top:-17px"
            (click)="openMenu()"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="size-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a class="text-sm/6 font-semibold text-white" (click)="redirectToSignUpPage()" style="cursor:pointer">Sign up</a>
          <a class="text-sm/6 font-semibold text-white" (click)="redirectToSignInPage()" style="cursor:pointer">Sign in</a>
        </div>
      </nav>
      <!-- Mobile menu -->
      <div
         class="lg:hidden"
         role="dialog"
         aria-modal="true"
         [ngClass]="{hidden:!isMenuOpen}"
      >
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-cyan-950 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
          <div class="flex items-center justify-between">
            <button
              type="button"
              class="-m-2.5 rounded-md p-2.5 text-white"
              (click)="closeMenu()"
            >
              <span class="sr-only">Close menu</span>
              <svg
                class="size-6 responsive-custom-menu"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6 flex flex-col">
                <a class="text-sm/6 font-semibold text-white" (click)="redirectToSignUpPage()" style="cursor:pointer">Sign up</a>
                <a class="text-sm/6 font-semibold text-white" (click)="redirectToSignInPage()" style="cursor:pointer">Sign in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </header>
  <div id="default-carousel" class="relative w-full flex justify-center mt-2">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96 mt-10">
      <div *ngFor="let youtubeVideo of youtubeCarouselTrailer; let i = index" [class.hidden]="i !== currentSlide" class="duration-700 ease-in-out">
        <iframe [src]="sanitizerURL(youtubeVideo?.name)" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <button 
       type="button" 
       class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer"
       (click)="prevSlide()"
    >
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60">
        <svg 
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer"
            (click)="nextSlide()">
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>  
</div>
<section>
  <div class="flex justify-stretch p-2">
    <input 
      type="text" 
      class="block w-[98%] p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      placeholder="Search by name"
      [(ngModel)]="name"
      [ngModelOptions]="{standalone:true}"
      (keyup.enter)="filterPokemonByName(name)"
      required
    />
  </div>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 p-2 cursor-pointer">
    <div
      *ngFor="let item of pokemonList; trackBy: trackItemById"
      class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-2 ml-1"
      (click)="openModal(item?._id)"
    >
      <img [src]="item?.image" alt="{{ item?.name }}" class="w-24 m-auto" />
      <h3 class="text-center text-gray-400 text-xl">{{ item?.name }}</h3>
    </div>
  </div>
  <!-- Modal -->
  <div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center cursor-pointer" (click)="closeModal()">
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-md w-full p-6" (click)="$event.stopPropagation()">
      <!-- Modal Content -->
      <!-- Close Button -->
      <button class="mt-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mx-auto block" (click)="closeModal()">
         X
      </button>
      <img [src]="selectedPokemon?.image" alt="{{selectedPokemon?.name}}" class="w-24 m-auto"/>
      <h3 class="text-center text-gray-400 text-xl">{{ selectedPokemon?.name}}</h3>
    </div>
  </div>  
</section>
